@charset "utf-8";
/* CSS Document */

    /* The Cytoscape Web container must have its dimensions set. */
    #cytoscapeweb { width: 100%; height: 80%; }
    #note { width: 100%; text-align: center; padding-top: 1em; }
    .link { text-decoration: underline; color: #0b94b1; cursor: pointer; }
	
	#toolbar { margin:10px; }
	
	.lbl {
		padding:3px 5px;
		float:left;
		font-size:11px;
		font-weight:bold;
	}
	.warn_dialog { float:left; margin:0 7px 50px 0;}
	input.text { margin-bottom:12px; width:95%; padding: .2em; }
	fieldset { padding:0; border:0; margin-top:20px; }
	.ui-dialog .ui-state-error { padding: .3em; }
	.validateTips {
		padding:3px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px; 
	}

	#graph {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	
}
.row {
	float:left;
	width:100%;
	clear:both;
	border-bottom:1px solid #98c4e1;
}
.col1, .col2, .col3{
	width:38.75%;
	padding:2px;
	border:none;
	float:left;
}
.col1 {
	width: 20%;
}
.scroll {
	height:100px;
	padding:5px;
	border:1px solid #98c4e1;
	overflow: auto;
}
.head_table {
	background-color:#d3e9fc;
	font-weight:bold;
	text-align:center;
	border-bottom:none !important;
}
/*  Stratage form */
.t1 {
	width:50px;
}
.t2 {
	width:380px;
}
.t3 {
	width:615px;
}
input {
	border:1px solid #c6d2db;
	padding:2px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:11px;
} 
.sel_row {
	background-color:#6CF;
}

/* compare factories */
#comp_fact_tb tr td {
	height:30px;
}
#cont_factor {
	overflow:auto;
	height:450px;
}
#compare_fact_cont {
	overflow:auto;
	height:380px;
}
#fact_pr_tb tr td {
	padding:3px;
}